/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar {
  background-color: rgba(145, 223, 255, 0.17);
  border-bottom: 1px ridge rgb(96, 93, 127);
}
.position label{
    width: 60%;
}
form .row > div{
    padding-left: 4px;
    padding-right: 4px;
}

.position .form-control{
    width: 75%;
}
.name label{
    width: 10%;
}
.name .form-control{
    width: 90%;
    margin-left: -5px;
}
.name{
  width: 100%;
}
.active label{
    width: 50%;
}
.active .form-control{
    width: 50%;
    margin-left: -5px;
}
.script label{
    width: 10%;
}
.script.invalid .form-control{
    background-color: #fca5a5;
}
.script.valid .form-control{
    background-color: #a5fcac;
}
.script{
  width: 100%;
}
.mb-10{
  margin-bottom: 15px;
}
.form-inline{
  padding-bottom: 50px;
}
.form-inline >.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.devise{
  text-align: center;
  padding-top: 5%;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-top: 5px;
  background-color: rgba(145, 223, 255, 0.17);
  border-top: 1px ridge rgb(96, 93, 127);
  color: rgb(96, 93, 127);
}
